<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="navbar-brand curs text-green" (click)="goToHome()"
        >Galerija</span
      >
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li
          class="curs"
          (click)="goToCategories()"
          *ngIf="isAuthorized | async"
        >
          <a class="text-green">Kategorije </a>
        </li>
        <li
          class="curs"
          (click)="goToUsers()"
          *ngIf="(isAuthorized | async) && isAdmin"
        >
          <a class="text-green">Korisnici </a>
        </li>
        <li class="curs" (click)="goToAboutAuthor()">
          <a class="text-green">O autoru </a>
        </li>
        <li class="curs" (click)="goToContacts()">
          <a class="text-green">Kontakti </a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li
          data-toggle="modal"
          *ngIf="isAuthorized | async"
          data-target="#login-modal"
        >
          <a class="text-green">{{ displayName }} </a>
        </li>
        <li
          class="curs"
          data-toggle="modal"
          *ngIf="!(isAuthorized | async)"
          data-target="#login-modal"
        >
          <a class="text-green">Prijava </a>
        </li>
        <li
          class="curs"
          data-toggle="modal"
          *ngIf="isAuthorized | async"
          data-target="#logout-modal"
        >
          <a class="text-green">Odjeva </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<app-login></app-login>
<app-logout></app-logout>
