.navbar.navbar-default {
  background-color: rgba(62, 71, 72, 0.8);
}

.navbar-header .navbar-brand {
  color: #c1d82f;
  font-size: 22px;
}
.navbar-header .navbar-brand:hover {
  color: #c1d82f;
  font-size: 22px;
}

.text-green {
  color: #c1d82f !important;
}

.text-green:hover {
  color: white !important;
}

.bg {
  background-color: rgba(62, 71, 72, 0.8) !important;
  color: #c1d82f !important;
}

.bg:hover {
  background-color: rgba(62, 71, 72, 0.8) !important;
  color: white !important;
}

.bg:focus {
  color: white !important;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover {
  color: #f9f9f9;
}

.wide {
  width: 50px;
  text-align: center;
}
