<div class="container">
  <h3>Promjena lozinke</h3>
  <hr class="hr" />
  <div class="row">
    <form name="form" (ngSubmit)="f.valid && save()" #f="ngForm">
      <fieldset>
        <div class="form-group col-md-7">
          <div
            [ngClass]="{
              'form-group has-error': f.submitted && !passwordValidation()
            }"
          >
            <label for="password">Lozinka*</label>
            <input
              type="password"
              [(ngModel)]="model.password"
              class="form-control"
              id="password"
              name="password"
              autocomplete="off"
            />
            <div
              *ngIf="f.submitted && !passwordValidation()"
              class="help-block"
            >
              Neophodno je unijeti lozinku korisnika
            </div>
          </div>
        </div>

        <div class="form-group col-md-7">
          <div
            [ngClass]="{
              'form-group has-error':
                f.submitted &&
                (!confirmedPasswordValidation() || !comparePasswords())
            }"
          >
            <label for="confirmedPassword">Potvrda lozinke*</label>
            <input
              type="password"
              [(ngModel)]="model.confirmedPassword"
              class="form-control"
              id="confirmedPassword"
              name="confirmedPassword"
              autocomplete="off"
            />
            <div
              *ngIf="f.submitted && !confirmedPasswordValidation()"
              class="help-block"
            >
              Neophodno je unijeti potvrdu lozinke
            </div>
            <div *ngIf="f.submitted && !comparePasswords()" class="help-block">
              Lozinke se razlikuju
            </div>
          </div>
        </div>

        <div class="form-group col-md-12">
          <hr class="hr" />
          <button type="button" class="btn btn-default" (click)="goBack()">
            Nazad
          </button>
          <button type="submit" class="btn btn-default pull-right">
            Sačuvati
          </button>
        </div>
      </fieldset>
    </form>
  </div>
</div>
