.picture-grid,
.picture-grid .picture-image {
  overflow: hidden;
}

.picture-grid {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  position: relative;
  transition: all 0.5s ease 0s;
  border-radius: 5px;

  .picture-image {
    a {
      display: block;
    }
    img {
      width: 100%;
      height: 190px;
      transition: all 0.5s ease 0s;
    }
  }
  .picture-content {
    padding: 12px 12px 15px;
    transition: all 0.5s ease 0s;
  }

  .title {
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
    margin: 0 0 10px;
    transition: all 0.3s ease 0s;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .options {
    background-color: none;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    transform: translateX(-50%);
    position: absolute;
    bottom: -50%;
    left: 50%;
    z-index: 1;
    transition: all 0.5s ease 0s;

    li {
      display: inline-block;

      a {
        color: #c1d82f;
        font-size: 16px;
        line-height: 45px;
        text-align: center;
        height: 45px;
        width: 45px;
        margin: 0 7px;
        border: 1px solid rgb(41, 47, 48);
        border-radius: 50px;
        display: block;
        position: relative;
        transition: all 0.3s ease-in-out;
        background-color: rgba(62, 71, 72, 0.7);

        &:hover {
          color: #c1d82f;
          background-color: rgba(62, 71, 72);
          width: 80px;
        }
      }

      a:after,
      a:before {
        content: attr(data-tip);
        color: #c1d82f;
        background-color: rgba(62, 71, 72, 0.9);
        font-size: 12px;
        letter-spacing: 1px;
        line-height: 20px;
        padding: 1px 5px;
        border-radius: 5px;
        white-space: nowrap;
        opacity: 0;
        transform: translateX(-50%);
        position: absolute;
        left: 50%;
        top: -30px;
      }

      a:after {
        content: "";
        height: 15px;
        width: 15px;
        border-radius: 0;
        transform: translateX(-50%) rotate(45deg);
        top: -20px;
        z-index: -1;
      }

      a:hover:after,
      a:hover:before {
        opacity: 1;
      }
    }
  }
}

.picture-grid:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  .picture-image {
    img {
      transform: scale(1.1);
    }
  }

  .picture-content {
    opacity: 0;
  }

  .options {
    opacity: 1;
    bottom: 20px;
  }
}

@media only screen and (max-width: 990px) {
  .picture-grid {
    margin-bottom: 30px;
  }
}
