<div class="container">
  <h3>
    Korisnici
    <button
      type="button"
      class="btn btn-default pull-right"
      (click)="goToUserForm(0)"
    >
      Novi korisnik
    </button>
  </h3>

  <hr class="hr" />
  <div class="">
    <table class="table table-condensed" *ngIf="users.length != 0">
      <thead>
        <tr>
          <th>#</th>
          <th>Ime</th>
          <th>Prezime</th>
          <th>Uloga</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of users; let i = index">
          <td>
            {{ i + 1 + (searchModel.pageNumber - 1) * searchModel.pageSize }}
          </td>
          <td>{{ item.firstName }}</td>
          <td>{{ item.lastName }}</td>
          <td>{{ item.role }}</td>
          <td>
            <button
              class="btn btn-default btn-sml pull-right"
              (click)="goToUserForm(item.id)"
            >
              Izmjena
            </button>
            <button
              class="btn btn-default btn-sml pull-right"
              (click)="delete(item.id)"
            >
              Brisanje
            </button>
            <button
              class="btn btn-default btn-sml pull-right"
              (click)="goToResetPassword(item.id)"
            >
              Promjena lozinke
            </button>
          </td>
        </tr>
      </tbody>
    </table>

    <hr class="hr" *ngIf="pagination.totalCount > searchModel.pageSize" />
    <div
      class="text-center"
      *ngIf="pagination.totalCount > searchModel.pageSize"
    >
      <pagination
        [boundaryLinks]="true"
        [totalItems]="pagination.totalCount"
        [itemsPerPage]="searchModel.pageSize"
        [(ngModel)]="searchModel.pageNumber"
        (pageChanged)="pageChanged($event)"
        previousText="&lsaquo;"
        nextText="&rsaquo;"
        firstText="&laquo;"
        lastText="&raquo;"
      >
      </pagination>
    </div>
  </div>
</div>
