/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

.curs {
  cursor: pointer;
}

.btn-default {
  background-color: rgba(62, 71, 72, 0.9) !important;
  color: #c1d82f !important;

  &:hover {
    color: white !important;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
  }
}

.btn-default.btn-sml {
  font-size: 12px;
}

.modal-header {
  background-color: rgba(62, 71, 72, 0.8) !important;
  border-radius: 5px 5px 0px 0px;
  .modal-title {
    color: #c1d82f !important;
  }
}

.form-control {
  font-size: 2rem !important;
  &:focus {
    border-color: rgba(62, 71, 72, 0.9) !important;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
  }
}

.has-error {
  font-size: 2rem !important;
}

.hr {
  height: 2px;
  border-width: 0;
  color: #3e4748;
  background-color: rgba(62, 71, 72, 0.9);
}

textarea {
  resize: vertical;
}

.table {
  font-size: 2rem;
  th {
    border-color: rgba(62, 71, 72, 0.9) !important;
  }
  tr {
    td {
      border: none !important;
    }
  }
}

pagination {
  ul {
    li {
      a {
        background-color: rgba(62, 71, 72, 0.9) !important;
        color: #c1d82f !important;
        margin-left: 4px;
        margin-right: 4px;
        border-radius: 4px;

        &:hover {
          color: white !important;
          -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
        }
      }
      &.active {
        a {
          color: white !important;
          -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
          border-color: white !important;
        }
      }
    }
  }
}

.wrapper {
  background: url("/assets//images/DSC00544.JPG") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
  font-size: 2rem;
}

span {
  font-size: 2rem;
}

label {
  font-size: 2rem;
}
