
<div class="container">
  <div class="row">
    <button type="button" class="btn btn-default pull-right margin-right-10" (click)="goToPictureForm(0)"> Nova slika </button>
  </div>
  <div *ngFor="let i of rows" class="row">   
    <div class="card col-md-3" *ngFor="let img of pictures | slice:(i*4):(i+1)*4">    
      <div class="card curs" (click)="goToPictureDetails(img.id)">    
        <div class="">    
          <img src="{{img.url}}" class="img" width="260" height="190">  
        </div>
        <h5 class="title"> {{img.title}} </h5>
      </div> 
    </div>   
  </div>    
</div>