<div class="container">
  <div class="row">
    <button
      type="button"
      class="btn btn-default pull-right margin-right-10"
      (click)="goToPictureForm(0)"
    >
      Nova slika
    </button>
  </div>
  <div *ngFor="let i of rows" class="row">
    <div
      class="card col-md-3"
      *ngFor="let item of itemsToDisplay | slice: i * 4:(i + 1) * 4"
    >
      <div class="card curs" (click)="goToPictureDetails(item.id)">
        <div class="">
          <img
            src="{{
              item.content != null ? item.content : 'assets/images/no-image.png'
            }}"
            class="img"
            width="260"
            height="190"
          />
        </div>
        <h5 class="title">{{ item.name }}</h5>
      </div>
    </div>
  </div>
  <hr class="hr" />
  <nav class="center" *ngIf="rows.length > 1">
    <ul class="pagination curs">
      <li
        *ngFor="let pageNumber of rows"
        (click)="changePage(pageNumber)"
        [ngClass]="{ active: pageNumber == currentPage }"
      >
        <button class="btn btn-default btn-sml">{{ pageNumber + 1 }}</button>
      </li>
    </ul>
  </nav>
</div>
