<div class="container">
  <h3>
      Korisnici
      <button type="button" 
              class="btn btn-default pull-right margin-right-10" 
              (click)="goToUserForm(0)"> 
          Novi korisnik 
      </button>
  </h3>

  <hr class="hr"/>
  <div class="">
      <table class="table table-striped table-condensed" *ngIf="usersToDisplay.length!=0">
          <thead>
              <tr>
                  <th>#</th>
                  <th>Ime</th>
                  <th>Prezime</th>
                  <th>Uloga</th>
                  <th></th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of usersToDisplay; let i = index">
                  <td>{{(i + 1) + (currentPage * usersPerPage) }}</td>
                  <td>{{item.firstName}}</td>
                  <td>{{item.lastName}}</td>
                  <td>{{item.role}}</td>
                  <td>
                      <button class="btn btn-default btn-sml pull-right" (click)="goToUserForm(item.id)">Izmjena</button>
                      <button class="btn btn-default btn-sml pull-right" (click)="delete(item.id)">Brisanje</button>
                  </td>
              </tr>
          </tbody>
      </table>

      <hr class="hr"/>
      <nav class="center" *ngIf="numberOfPages.length > 1">
          <ul class="pagination curs">
              <li *ngFor="let pageNumber of numberOfPages" (click)="changePage(pageNumber)" [ngClass]="{'active': pageNumber == currentPage}">
                  <button class="btn btn-default btn-sml">{{ pageNumber + 1 }}</button>
              </li>
          </ul>
      </nav>
  </div>
</div>